body {
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}

nav {
 background-color: rgba(255, 255, 255, 0.418);   
 display: flex;
 justify-content:space-between;
 padding: 1rem 5rem;
 position: fixed;
 width: 100%;
 box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.10);
}
nav img {
    max-width: 150px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}
nav li a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-weight: 500;
    padding: 8px 0;
    transition: all;
    transition-duration: 0.15s;
    letter-spacing: 1px;
    text-transform: capitalize;
   
}
nav li a:hover {
    color: black;
    font-weight: 600;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hero-section {
    margin-top: 100px;
    grid-column: 3 span;  
    display: grid;  
}
.hero-section img {
    width: 100%;
    max-height: 859px;
    
}
.about-section {
    display: grid;
    grid-column: 3 span;
    align-items: center;
    gap: 5rem;
}

.about-section img {
    width: 1000px;
}

.about-section p {  
    margin-right: 80px;
    grid-column: 3; 
    font-size: 20px;   
    text-align: justify;
    margin-top: 70px;
    max-width: 600px;
}

.movies-banner  {
    display: grid;
    grid-column: 3 span;
    justify-content: end;
    margin-bottom: 100px;
    min-width: 100%;
}
.movies-section{
    display: grid;
    grid-column: 3 span;
    grid-template-columns: repeat(3, 1fr); /* Menentukan 3 kolom dengan lebar yang sama */
    gap: 4rem;   
}
.movies-section .card-movie{
    margin: 0 80px;
}
.movies-section img {
    border-radius: 30px;
}

.card-text ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin:15px 0 0 0;   
}
.card-text li {
    list-style: none; 
       
}
.card-text span {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 600;
}
.movie {
    border: 2px solid rgb(249, 176, 28);
    border-radius: 5px;
    padding: 3px 5px 0px 20px;
    background-image: url(img/play.png);
    background-size: 15px;
    background-repeat: no-repeat;
    text-align: end;
    background-position: 2px;
    font-size: 15px;
}
.card-text p {
    padding-top: 10px;
}
.movie:hover {
    background-color:  rgb(249, 176, 28);
}
.rating-movie {
    display: flex;
    background-image: url(img/star.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 70px;
    padding-bottom: 7px;
    text-decoration: none;
}
.card-movie img:is(:hover, :focus-within) { transform: scale(1.05); 
    opacity: 0.7;
    z-index: 99;
}
.fest-section{
    display: grid;
    grid-column: 3 span;
    margin-top: 100px;
    background-color:#ffd04e;
    margin-bottom: 100px;
    padding: 10px 10px 10px 10px;
}
.fest-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;

}
.fest-text{
    grid-column:2 span;
    grid-row: 2 span;
    justify-self: center;
    text-align: center;
}
.fest-text img {
    min-width: 400px;
    min-height: 250px;

}

.fest-card img {
    grid-column: 8;
    max-width: 250px;
    max-height: 170px;
    padding:10px 10px 10px 10px;
    border-radius: 20px;
}
.footer-section {
    margin:0 80px 0 80px;
}
.footer-section ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    color: rgb(87, 87, 87);
    padding: 0;
}
.footer-section li {
    width: 350px;
    margin-top: 20px;
    text-transform: capitalize;
    text-align: justify;
    margin-right: 40px;
}

.footer-section li a {
    text-decoration: none;
    line-height: 40px;
    color: rgb(87, 87, 87);
}
.footer-title li{
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.footer-section li img {
    max-width: 500px;

}